* {
  font-family: 'Open Sans', sans-serif;
}

.link-nav a {
  cursor: pointer;
}

.btn btn-primary btn-sm{
  background-color: blue !important;
}

.table {
  max-width: 100% !important;
}

.main-claim {
  font-weight: 800;
}

body {
  margin:0;
  border:0px solid black !important;
}

nav {
  height: 60px;
  display: flex;
  background-color: #FFFF;
  color: black;
  margin:0%;
  width:100vw;
  padding-top:5px;
  padding-bottom:5px;
  box-shadow: 0px 3px 6px #00000041;
  vertical-align: center;
  z-index: 99;
}

.card {
  height:100%;
}

#logo {
  width:42px;
  align-self: center;

}

#logo-div {
  vertical-align:middle;
  height: 100%;
  display: flex;
  align-items:center;
}

#left-side {
  margin-left: 30px;
  float: left;
  flex-grow: 1;
}
#right-side {
  margin-right: 30px;
  display: flex;
  align-self: right;
  align-content: right;
  text-align: center;
  float: right;
}

.link-nav {
  padding-left:15px;
  padding-right:15px;
  line-height: 60px;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
}

#item0, #item1, #item2, #item3
{
	display: none;	/* hide all info items initially -- copied from layout.css provided */ 
	border: 0px solid black;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  padding-left: 30px;
  padding-right: 45px;
  margin-bottom:30px;
  height: max-content;
}

#project-internal
{
  border: 0px solid black;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 100vw;
  padding-left: 30px;
  padding-right: 45px;
  margin-bottom:30px;
  height: max-content;
}

.imgcontainer
{
  text-align:center;
  max-width: 90%;
  margin-left:auto;
  margin-right:auto;
}

.form-group {
  margin-bottom: 10px !important;
}

.mylog {
  display:flex;
  height: 90vh;
  align-items: center;
  justify-content: space-around;
}

.centered-image 
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  max-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 45vw);
  grid-template-rows: repeat(4);
  grid-gap: 10px;
}

.grid-image {
  max-width: 100%;
  height: 100%;
}


.full-width {
  width: 100%;
}

.top-extra-pad {
  padding-top: 20px;
}

.transparent-background {
  background-color: transparent;
  border-radius: 5px;
  margin-top: 15px;
}

.transparent-wrapper {
  background-color: transparent;
}

.right-align {
  float: right;
  align-self: right;
}

.container-fluid {
  padding: 2.5em;
}



.container-rounded {
  border-radius: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

.btn-view {
  background-color: #007bff;
  color: #fff;
}

.btn-submit {
  background-color: #28a745;
  color: #fff;
}

.question {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

.card {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

* /* For all elements, take into account any borders and padding when sizing */
{
    box-sizing: border-box;
}

body
{
	border:  2px solid black;
	height: 600px;
}

.titleRegion 
{
    background-color: red;
    padding: 10px;
	text-align: center;
    color: white;
}

.column
{
    float: left; /* Let the content of a column float to the left of previous item (i.e. column) */
    padding: 10px;
}

.info 
{	
    width: 80%; /* The info display section takes 80% of browser window width */
}

.menu 
{
    width: 20%; /* The menu buttons section takes 20% of browser window width */
}


.menu ul 
{
    list-style-type: none;	/* do not add any dots, dashes, etc. before list items */
    margin: 2px;
    padding: 2px;
}

.menu li 
{
	background-color: red;
    color: white;
	margin-top: 10px;
	margin-bottom: 10px;
    padding: 10px;
}

.menu li:hover 
{
    background-color: #B9292C;
}

#item0, #item1, #item2, #item3
{
	display: none;	/* hide all info items initially */
	/*border: 3px solid black;*/
}

img
{
	height: 240px;
	width: 320px;
}

.clearfix::after 	/* Make sure the image fits with the rest of the content within the info div */
{
    display: table;
    clear: both;
    content: "";
}